/checkouts
*.class
/classes
core/npm-debug.log
.DS_Store
*.egg-info
Gopkg.lock
Gopkg.toml
.hg/
.hgignore
hsperfdata_*/
/.idea
.idea
.idea/
*.iml
*.iml/target
*.jar
/.lein-*
lein-trampoline-*
lein-trampoline-*/target
*.pem
/lib
node_modules/
/.nrepl-port
output/
pom.xml
pom.xml.asc
__pycache__
resources/public/build
sign.key
/target
/common/target
test/ereshkigal/work/
test-file
unitTests.xml
.venv
work
work/
.pytest_cache/
google-cloud-sdk*
