//
// Subnavigation / Secondary navigation
// --------------------------------------------------

// Secondary nav

.navbar-secondary {
    background-color: #fff;
    font-size: 13px;

    .navbar-nav > li > a {
        padding: 7px 5px 4px;
        margin: 0 25px 0 0;
        border-bottom: 3px solid transparent;
        color: $gray;

        &:hover {
            background-color: transparent;
            color: $text-color;
            @media (min-width: $grid-float-breakpoint) {
                border-bottom: 3px solid $gray-light;
            }
        }
    }

    .navbar-nav > li.subnav-active > a, .navbar-nav > li.active > a {
        font-weight: bold;

        color: $text-color;
        border-left: 0px;
        border-right: 0px;
        background-image: none;
        @media (min-width: $grid-float-breakpoint) {
            border-bottom: 3px solid $navbar-default-border;
        }
    }
    .navbar-nav > li.active::after{
        height: 0px;
    }
    .navbar-collapse,
    .navbar-form {
        border: none;
      }
}

// When a container is present, change some of the internal styling

.navbar-secondary .container-fluid,
.navbar-secondary .container {

    // Larger screens: Ensure the subnav bar is still left-aligned with the main navbar
    > .navbar-collapse {

        @media (min-width: $grid-float-breakpoint) {
            margin-left: 0;
        }
    }
}

// Subheader / parameters bar

.subheader {
    border-top: 1px solid rgba(255,255,255,0.6);
    padding: 10px 15px;
    height: auto;
    display: block;
}
    .subheader-label {
        padding-bottom: 5px;
        font-weight: bold;
        display: inline-block;
    }
